# Arquivos do python
__pycache__/
*.py[cod]
*.pytest_cache
.coverage

# Logs e banco de daddos
*.db
*.sqlite3
*.log
*.md

# venv (máquina virtual python)
env
venv

& c:/projects/payoff/env/Scripts/Activate.ps1


# other
.DS_Store

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp


